build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/.qmake.stash
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/Makefile
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PListParser.o
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PListSerializer.o
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/Frameworks/QtCore.framework/Versions/5/QtCore
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/Frameworks/QtGui.framework/Versions/5/QtGui
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/Frameworks/QtPrintSupport.framework/Versions/5/QtPrintSupport
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/Frameworks/QtWidgets.framework/Versions/5/QtWidgets
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/Frameworks/QtXml.framework/Versions/5/QtXml
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/Info.plist
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/MacOS/PlistToFnt
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/PkgInfo
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/PlugIns/accessible/libqtaccessiblewidgets.dylib
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/PlugIns/imageformats/libqgif.dylib
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/PlugIns/imageformats/libqico.dylib
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/PlugIns/imageformats/libqjpeg.dylib
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/PlugIns/imageformats/libqmng.dylib
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/PlugIns/imageformats/libqtga.dylib
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/PlugIns/imageformats/libqtiff.dylib
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/PlugIns/imageformats/libqwbmp.dylib
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/PlugIns/platforms/libqcocoa.dylib
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/PlugIns/printsupport/libcocoaprintersupport.dylib
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/Resources/empty.lproj
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.app/Contents/Resources/qt.conf
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/PlistToFnt.dmg
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/dialog.o
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/fntserializer.o
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/main.o
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/moc_dialog.cpp
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/moc_dialog.o
build-PlistToFnt-Desktop_Qt_5_2_0_clang_64bit-Debug/ui_dialog.h
